/* Header styles */

*{
    margin: 0;
    font-family: 'Teko', sans-serif;
}

body{
    background: #ffffff url(../images/small-raw-concrete-wall-background-PAJVNF4.jpeg) no-repeat fixed center / cover;
}

header{
    background-color:#e8ab03;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 a{
    display: inline-block;
    width: 40vw;
    font-family: 'Dancing Script', cursive;
    color: #ffffff;
    text-decoration: none;
}

nav{
    height: 100%;
    width: 25vw;
}

nav ul{
    height: 100%;
    align-items: center;
    list-style: none;
    display: flex;
    justify-content:right;
}


nav ul li{
    height: 100%;
    align-items: center;
}

nav ul li a{
    display: flex;
    height: 100%;
    align-items: center;
    font-family: 'Teko', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    padding: 0 20px;
    text-decoration: none;
}

nav ul li a:hover{
    color:black;
    background-color: white;
}

.current_cl{
    color:black;
    background-color: white;
}

/* index-home styles */

.main_img{
    width: 100vw;
    height: 90vh;
    background: #ffffff url(../images/homepage-background.jpg) no-repeat fixed center / cover;
}

.main_form_cl{
    position: relative;
    top: 35vh;
    left: 50vw;
    width: 30vw;
    background-color: rgba(59, 59, 59, 0.5);
    padding: 40px 40px 40px 20px;
}

.in_form_cl{
    display: flex;
    align-items: center;
}

.main_form_cl h2{
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}

.in_form_first_col{
    height: 250px;
    width: 50%;
    margin: 5px;
}

.in_form_second_col{
    height: 250px;
    width: 50%;
    margin: 5px;
}

.in_form_cl label{
    display: inline-block;
    width: 95%;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
}

.input_field_cl{
    display: block;
    width: 90%;
    height: 32px;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgba(59, 59, 59, 0);
}

.in_form_second_col label{
    width: 100%;
}

#message{
    width: 100%;
    height: auto;
}

.in_form_btn{
    display: inline-block;
    width: 105%;
    font-weight: 400;
    color: #292929;
    background-color: #ffffff;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-color: rgba(59, 59, 59, 0);
    padding: 16px;
    border-radius: 5px;
    margin-left: 5px;
}

.in_form_btn:hover{
    background-color: #292929;
    color: #ffffff;
}

/* About styles */

.main_about_cl{
    height: 40vh;
    padding: 200px;
}

.main_about_cl h2{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 300;
    font-size: 40px;
  }

  .main_about_cl span{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #797979;
    font-size: 20px;
}

.about_btns_cl{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.about_btns_cl .btn1{
    margin: 10px;
    font-size: 25px;
    padding: 10px 50px;
    font-weight: 300;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: #ffffff;
}

.about_btns_cl .btn2{
    margin: 10px;
    background-color: #292929;
    font-size: 25px;
    padding: 10px 50px;
    font-weight: 300;
    border-color: #ffffff;
    color: #ffffff;
    letter-spacing: 3px;
    cursor: pointer;
}

.about_btns_cl .btn1:hover{
    background-color: #292929;
    color: #ffffff;
}


/* gallery styles */

.main_gallery_cl{
    padding: 200px 200px 0px 200px;
}


.gallery_group_img{
    display: flex;
    justify-content: space-evenly;
    padding: 0px 100px 100px 100px; 
}

.gallery_group_img p{
    display: inline-block;
    position: relative;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    background-color: #292929;
    padding: 10px;
}

.gallery_page_imgs{
    display: block;
    width: 30%;
    cursor: pointer;
}

.gallery_page_imgs:hover{
    opacity: 0.8;
}



/* Contact styles */

.map_div_cl{
    width: 100vw;
}

.map_div_cl iframe{
    margin: 0 auto;
    width: 100%;
}

.main_contact_cl{
    padding: 20px 200px;
}

.contact_form_div_cl{
    display: flex;
    justify-content: center;
    margin-top: -200px;
    padding: 20px 200px;
}

.contact_name_email_cl label{
    display: inline-block;
    width: 49%;
    font-size: 20px;
}

.contact_name_email_cl .input_field_contact_cl{
    display: inline-block;
    width: 47%;
    font-size: 18px;
}

.contact_subject_message_cl label{
    display: inline-block;
    width: 98%;
    font-size: 20px;
}

.contact_subject_message_cl .input_field_contact_cl{
    display: inline-block;
    width: 97%;
    font-size: 18px;
}

.textarea_contact{
    font-size: 18px;
    width: 97% !important; 
    resize: none;
}

.btn_contact{
    width: 97%;
    padding: 16px;
    font-size: 26px;
    border-color: rgba(59, 59, 59, 0);
    margin-left: 3px;
    cursor: pointer;
}

.btn_contact:hover{
    background-color: #292929;
    color: #ffffff;
}



/* Footer styles */

footer{
    background-color: #e8ab03;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

footer p{
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 30px;
}

footer span{
    font-weight: 300;
    font-size: 20px;
    color: #ffffff;
}

.footer_about_cl{
    width: 25vw;
}

.footer_projects_cl{
    width: 25vw;
}

.footer_newsletter_cl{
    width: 25vw;
}

.projects_col{
    display: table-row;

}

.footer_projects_cl img{

    width: 30%;
    padding: 5px 15px 5px 0px;
}

.footer_input_field_cl{
    display: block;
    width: 90%;
    height: 32px;
    padding: 5px;
    margin-top: 20px;
    font-size: 16px;
    border-radius: 5px;
    border-color: rgba(59, 59, 59, 0);
    text-align: center;
}

.footer_form_btn{
    display: inline-block;
    width: 90%;
    font-weight: 400;
    color: #ffffff;
    background-color: #292929;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-color: rgba(59, 59, 59, 0);
    padding: 15px;
    border-radius: 5px;
    margin: 20px 2px 0px 5px;
    
}

.footer_form_btn:hover{
    background-color: #ffffff;
    color: #292929;
}