
/* General styles */

                body{
                    font-family: heebo;
            
                }

                .high_section{
                    background-color:#fcfcfc;
                    padding: 50px 50px 0px 50px;
                }

                a{
                    background-color: #fcfcfc;
                    color: #343434;
                    padding: 10px;
                    border-radius: 5px;
                    text-decoration: none;
                }
                a:hover{
                    background-color: #343434;
                    color: white;
                }

                h1, h2 p{
                    text-align: center;
                }

                h1{
                    font-family: heebo-thin, heebo;
                }

                .main_section{
                    padding: 50px;
                }

                .footer_cl{
                    background-color: #343434;
                    height: 100px;
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    color: white;
                    text-align: center;
                }


/* About me Page Styles */

                .about_main_section{
                    padding: 0px 50px 50px 50px;
                    margin-left: auto;
                    margin-right: auto;
                    width: 575px;
                }
                
                .my_img{
                    margin: 20px;
                    height: 100px;
                    width: 100px;
                    float: left;
                    margin-bottom: 0px;
                }

                .about_class{
                    font-size: 22px;
                    line-height: 32px; 
                    padding:10px;
                    width: 575px;
                    text-align: justify;
                }